body {
  padding: 20px;
  font-family: Helvetica;
  background-color: #20262e;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  grid-gap: 10px;
}

li {
  background-color: #fff;
  border-radius: 3px;
  padding: 20px;
  font-size: 14px;
}

.info {
  text-align: center;
  font-size: 13px;
  padding: 20px 0;
  color: #fff;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 25%;
  grid-template-rows: 1fr 1fr 2fr 25%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.box {
  min-width: 50px;
  min-height: 50px;
  background-color: #fff;
  border-radius: 3px;
  padding: 20px;
  font-size: 14px;
}