.my-icon {
    height: 2em !important;
    width: 2em !important;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    border: 2px solid rgb(42, 99, 191);
    animation: my-pulse 2s infinite;
}

@keyframes my-pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(0,0,255, 0.4);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(0,0,255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(0,0,255, 0);
    }
}
